.fontFamily {
    font-family: sans-serif;
    font-weight: 100;
}

body {
    background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.336);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.box {
    background-color: #4CAF50;
    color: white;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.box.show {
    transform: rotateY(180deg);
}

.box.show p {
    transform: rotateY(-180deg);
}

.box.hide {
    color: transparent;
    /* make the text invisible */
    user-select: none;
    /* prevent selection of the text */
}

.box .content {
    position: absolute;
    top: 50%;
    left: 50%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flexDiv {
    display: flex;
    justify-content: center;

    align-items: center;
}

.fDR {
    flex-direction: row;
}

.fDC {
    flex-direction: column;
}

.form__group {
    position: relative;
    padding: 10px 30px 10px;
    margin-top: 10px;
    width: auto;
}

.form__field {
    font-family: inherit;
    width: auto;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}